<div id="register-v2" layout="row">
    <div id="register-v2-intro" flex hide-xs hide-sm>
        <div class="logo">
          <a ng-href="/"><img ng-src="../../../../../assets/images/logos/triskele-logo.png" alt="Logo Triskele"></a>
        </div>
        <div class="title divider" translate="REGISTER_V2.INTRO_TITLE">
          Welcome to Triskele!
        </div>
        <div class="description divider" translate="REGISTER_V2.INTRO_DESCRIPTION">
          Triskele is a platform that helps adventurers to find the best professionals.
          Life is made ​​up of a succession of trials, through these experiences people evolve.
          We have the goal of helping people to live these experiences.
        </div>
    </div>

    <div id="register-v2-form-wrapper" class="flex-scrollable md-whiteframe-8dp" layout="column" flex ms-scroll>
        <div id="register-v2-form">
            <div class="logo" hide-gt-sm>
              <a ng-href="/"><img ng-src="../../../../../assets/images/logos/triskele-logo.png" alt="Logo Triskele"></a>
            </div>

            <div class="title" translate="REGISTER_V2.REGISTER_AS_PARTNER">Create an account</div>

            <div is-offline>
                <md-button class="md-raised facebook">
                    <div layout="row" layout-align="center center">
                        <span>
                            <md-icon md-font-icon="icon-facebook" class="s16"></md-icon>
                            <span translate="REGISTER.WITH_FACEBOOK">Register with Facebook</span>
                        </span>
                    </div>
                  </md-button>

                  <div class="separator">
                    <span class="text" translate="REGISTER_V2.OR">OR</span>
                  </div>

                  <form name="registerForm" novalidate>
                      <md-input-container class="md-block" md-no-float>
                          <input name="username" ng-model="vm.form.name" placeholder="Name"
                                 translate translate-attr-placeholder="REGISTER_V2.NAME"
                                 required>
                          <div ng-messages="registerForm.username.$error" role="alert">
                              <div ng-message="required">
                                  <span translate="REGISTER_V2.ERRORS.USERNAME_REQUIRED">Username field is required</span>
                              </div>
                          </div>
                      </md-input-container>

                      <md-input-container class="md-block" md-no-float>
                          <input type="email" name="email" ng-model="vm.form.email" placeholder="Email"
                                 translate translate-attr-placeholder="REGISTER_V2.EMAIL"
                                 ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
                          <div ng-messages="registerForm.email.$error" role="alert" multiple>
                              <div ng-message="required">
                                  <span translate="REGISTER_V2.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                              </div>
                              <div ng-message="pattern">
                                  <span translate="REGISTER_V2.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                              </div>
                          </div>
                      </md-input-container>

                      <md-input-container class="md-block" md-no-float>
                          <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"
                                 translate translate-attr-placeholder="REGISTER_V2.PASSWORD"
                                 required>
                          <div ng-messages="registerForm.password.$error" role="alert">
                              <div ng-message="required">
                                  <span translate="REGISTER_V2.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
                              </div>
                          </div>
                      </md-input-container>

                      <div class="terms" layout="row" layout-align="center center">
                          <md-checkbox name="terms" ng-model="data.cb1" aria-label="I read and accept" required></md-checkbox>
                          <div layout="row" layout-sm="column" layout-align="start center">
                              <span translate="REGISTER_V2.READ_ACCEPT">I read and accept</span>
                              <a href="#" class="md-accent-color" translate="REGISTER_V2.TERMS_COND">terms and conditions</a>
                          </div>
                      </div>

                      <md-button type="submit" ng-click="vm.create()" class="md-raised md-primary submit-button" aria-label="CREATE MY ACCOUNT"
                                 ng-disabled="registerForm.$invalid || registerForm.$pristine"
                                 translate="REGISTER_V2.CREATE_ACCOUNT"
                                 translate-attr-aria-label="REGISTER_V2.CREATE_ACCOUNT">
                          CREATE MY ACCOUNT
                      </md-button>
                  </form>

                  <div class="login" layout="row" layout-sm="column" layout-align="center center">
                      <span class="text" translate="REGISTER_V2.ALREADY_HAVE">Already have an account?</span>
                      <a class="link" ui-sref="app.pages_auth_login-v2" translate="REGISTER_V2.LOGIN">Log in</a>
                  </div>    
            </div>

            <div is-logged layout="column" layout-align="center start" class="align-left">
                <p class="margin-top-40">Ao se registrar como parceiro você passa a poder cadastrar suas atividades na nossa plataforma.</p>
                <p>Antes de torná-las públicas estaremos entrando em contato para poder confirmar os dados necessários para ativar sua conta.</p>
                <form name="register2Form" novalidate>
                    <md-input-container class="md-block" md-no-float>
                        <input name="phone" ng-model="vm.form.phone"
                               translate translate-attr-placeholder="REGISTER_V2.PHONE_NUMBER"
                               required>
                        <div ng-messages="register2Form.phone.$error" role="alert">
                            <div ng-message="required">
                                <span translate="REGISTER_V2.ERRORS.PHONE_NUMBER_REQUIRED"></span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-button type="submit" ng-click="vm.create()" class="md-raised md-primary submit-button"      aria-label="REGISTER"
                        ng-disabled="register2Form.$invalid || register2Form.$pristine"
                        translate="REGISTER_V2.REGISTER"
                        translate-attr-aria-label="REGISTER_V2.REGISTER">
                      
                    </md-button>
                </form>
            </div>

        </div>
    </div>
</div>
