<div id="reset-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="reset-password-form-wrapper" layout="column" layout-align="center center">
        <div id="reset-password-form" class="md-whiteframe-8dp">
            <div class="logo">
              <img ng-src="http://res.cloudinary.com/triskele/image/upload/v1466537329/triskele-logo.png" class="success-logo" alt="Triskele">
            </div>

            <div ng-if="!vm.sent">
                <div class="title" translate="RESETPASSWORD.TITLE">Reset your password</div>

                <form name="resetPasswordForm" novalidate>

                    <md-input-container class="md-block" md-no-float>
                        <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"
                               translate translate-attr-placeholder="RESETPASSWORD.PASSWORD"
                               required>
                        <div ng-messages="registerForm.password.$error" role="alert">
                            <div ng-message="required">
                                <span translate="RESETPASSWORD.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
                            </div>
                        </div>
                    </md-input-container>

                    <md-button type="submit" class="md-raised md-accent submit-button" aria-label="UPDATE MY PASSWORD"
                               ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$pristine"
                               translate="RESETPASSWORD.UPDATE_PASSWORD"
                               translate-attr-aria-label="RESETPASSWORD.UPDATE_PASSWORD"
                               ng-click="vm.updatePassword()">
                        RESET MY PASSWORD
                    </md-button>
                </form>
            </div>

            
            <div ng-if="vm.sent">
                <div class="title" translate="RESETPASSWORD.SUCCESS"></div>
                <p translate="RESETPASSWORD.SUCCESS_MESSAGE"></p>
                <div class="login" layout="row" layout-align="center center">
                    <a class="link" ng-href="/login" translate="RESETPASSWORD.GO_BACK">Go back to login</a>
                </div>
            </div>
            
        </div>
    </div>
</div>
