<div id="forgot-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="forgot-password-form-wrapper" layout="column" layout-align="center center">
        <div id="forgot-password-form" class="md-whiteframe-8dp">
            <div class="logo">
              <img ng-src="http://res.cloudinary.com/triskele/image/upload/v1466537329/triskele-logo.png" class="success-logo" alt="Triskele">
            </div>

            <div ng-if="!vm.sent">
                <div class="title" translate="FORGOTPASSWORD.TITLE">Recover your password</div>

                <form name="forgotPasswordForm" novalidate>
                    <md-input-container class="md-block" md-no-float>
                        <input type="email" name="email" ng-model="vm.user.email" placeholder="Email address"
                               translate translate-attr-placeholder="FORGOTPASSWORD.EMAIL_ADRESS"
                               ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
                        <div ng-messages="forgotPasswordForm.email.$error" role="alert" multiple>
                            <div ng-message="required">
                                <span translate="FORGOTPASSWORD.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                            </div>
                            <div ng-message="pattern">
                                <span translate="FORGOTPASSWORD.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                            </div>
                        </div>
                    </md-input-container>

                    <md-button type="submit" class="md-raised md-accent submit-button" aria-label="RESET MY PASSWORD"
                               ng-disabled="forgotPasswordForm.$invalid || forgotPasswordForm.$pristine"
                               translate="FORGOTPASSWORD.SEND_RESET_LINK"
                               translate-attr-aria-label="FORGOTPASSWORD.SEND_RESET_LINK"
                               ng-click="vm.sendResetLink()">
                        SEND RESET LINK
                    </md-button>
                </form>

                
            </div>
            <div ng-if="vm.sent">
                <div class="title" translate="FORGOTPASSWORD.ALL_RIGHT"></div>
                <p translate="FORGOTPASSWORD.WE_SENT"></p>
            </div>
            <div class="login" layout="row" layout-align="center center">
                <a class="link" ng-href="/login" translate="FORGOTPASSWORD.GO_BACK">Go back to login</a>
            </div>
        </div>
    </div>
</div>
