#layout-horizontal-navigation {

    #toolbar {
        padding: 0 0 0 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        .navigation-toggle {
            height: $toolbarHeight;
            border-right: 1px solid rgba(0, 0, 0, 0.12);
            margin-right: 16px;
            @media only screen and (min-width: 960px) {
                margin-left: -16px;
            }

            .md-button {
                margin: 0;
                width: $toolbarHeight;
                height: $toolbarHeight;
            }
        }
        .noshadow {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        }

        .blue-border {
            border: 2px solid #2196F3;
        }

        .logo {
            padding: 12px 5px 11px 5px;
            cursor:pointer;
            .logo-image {
                min-width: 40px;
                width: 40px;
                @media only screen and (max-width: 960px) {
                    margin-left: 15px;
                }
            }

            .logo-text {
                color: #1E88E5;
                margin-left: 16px;
                font-size: 24px;
                font-weight: 500;
            }
        }

        .partner-button {
            border-radius: 5px; 
            border: 2px solid #2196F3;
        }
    }
}

// RESPONSIVE
@media only screen and (max-width: $layout-breakpoint-sm) {

    #layout-horizontal-navigation {

        #toolbar {
            padding: 0;
        }
    }
}
