<div layout="row" layout-align="start center">

    <div layout="row" flex="20" layout-align="start center">
        <!-- <div class="navigation-toggle">
            <md-button class="md-icon-button" ng-click="vm.toggleHorizontalMobileMenu()"
                       aria-label="Toggle Mobile Navigation">
                <md-icon md-font-icon="icon-menu"></md-icon>
            </md-button>
        </div> -->

        <a class="logo" layout="row" layout-align="start center" ng-href="/">
          <img ng-src="../../../../assets/images/logos/triskele-logo-small.png" class="logo-image" alt="Triskele">
            <span class="logo-text" hide-xs>Triskele</span>
        </a>
    </div>
    <div flex>
    </div>

    <md-icon md-font-icon="icon-magnify" ui-sref="app.service-list" class="pointer" class="s28" ng-if="vm.showSearch()"></md-icon>

    <div layout="row" layout-align="end center">

        <md-button hide-from-professional hide-xs hide-sm class="md-primary" ng-href="/cadastro-parceiro" translate="TOOLBAR.BE_OUR_PARTNER">Seja nosso Parceiro</md-button>
        <md-menu md-position-mode="target-right target" layout="row" layout-align="center center">

          <md-button md-menu-origin md-menu-align-target class="md-icon-button help-margin" ng-click="$mdOpenMenu()" translate translate-attr-aria-label="TOOLBAR.HELP">
            <md-icon md-font-icon="icon-help" class="s28"></md-icon>
          </md-button>

          <md-menu-content width="4">
            <md-menu-item ng-click="vm.howItWorks()">
              <md-button translate="TOOLBAR.HOW_IT_WORKS">
                Como Funciona
              </md-button>
            </md-menu-item>

            <md-menu-item ng-click="vm.doubts()">
              <md-button translate="TOOLBAR.DOUBTS">
                Dúvidas
              </md-button>
            </md-menu-item>
            <md-menu-item hide-from-professional hide-gt-sm ng-href="/cadastro-parceiro">
              <md-button translate="TOOLBAR.BE_OUR_PARTNER">
                Seja nosso Parceiro
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        
        <md-button is-offline class="md-raised noshadow md-primary" ng-href="/login" translate="TOOLBAR.LOG_IN">Log In</md-button>
        <md-menu-bar is-logged id="user-menu">
            <md-menu md-position-mode="left bottom">
                <md-button class="user-button" ng-click="$mdOpenMenu()"
                           aria-label="User settings"
                           translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                    <div layout="row" layout-align="space-between center">
                        <div class="avatar-wrapper">
                            <img ng-if="!vm.getUserImage()" md-menu-align-target class="avatar" src="assets/images/avatars/profile.jpg" alt="{{ vm.getUserName() }}">
                            <cl-image ng-if="vm.getUserImage()" public-id="{{ vm.getUserImage() }}" class="avatar" quality="80" format="jpg" alt="{{ vm.getUserName() }}"/>
                            <md-icon md-font-icon ng-class="icon-checkbox-marked-circle"
                                class="icon status s16">
                            </md-icon>
                        </div>
                        <span class="username" hide-xs>{{ vm.getUserName() }}</span>
                        <md-icon md-font-icon="icon-chevron-down"
                                 class="icon s16" hide-xs></md-icon>
                    </div>
                </md-button>

                <md-menu-content width="3">
                    <md-menu-item class="md-indent" ui-sref="app.me">
                        <md-icon md-font-icon="icon-account" class="icon"></md-icon>
                        <md-button translate="TOOLBAR.PROFILE">Perfil</md-button>
                    </md-menu-item>

                    <md-menu-item hide-from-user class="md-indent" ui-sref="app.service-create">
                        <md-icon md-font-icon="icon-plus" class="icon"></md-icon>
                        <md-button translate="TOOLBAR.NEW_ADVENTURE">Perfil</md-button>
                    </md-menu-item>

                    <md-menu-divider></md-menu-divider>

                    <md-menu-item class="md-indent">
                        <md-icon md-font-icon="icon-logout" class="icon"></md-icon>
                        <md-button ng-click="vm.logout()" translate="TOOLBAR.LOGOUT">Logout</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>

        <md-menu id="language-menu" md-offset="0 72" md-position-mode="target-right target">
            <md-button class="language-button" ng-click="$mdOpenMenu()"
                       md-menu-origin md-menu-align-target translate translate-attr-aria-label="TOOLBAR.LANGUAGE">
                <div layout="row" layout-align="center center">
                    <img class="flag" ng-src="assets/images/flags/{{vm.selectedLanguage.flag}}.png">

                </div>
            </md-button>

            <md-menu-content width="3" id="language-menu-content">
                <md-menu-item ng-repeat="(iso, lang) in vm.languages">
                    <md-button ng-click="vm.changeLanguage(lang)" aria-label="{{lang.title}}" translate
                               translate-attr-aria-label="{{lang.title}}">
                        <span layout="row" layout-align="start center">
                            <img class="flag" ng-src="assets/images/flags/{{lang.flag}}.png">
                            <span translate="{{lang.translation}}">{{lang.title}}</span>
                        </span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>
<!--<div ng-include="'app/toolbar/search/search.html'"></div>-->
<!--<div ng-include="'app/toolbar/menu-horizontal/menu-horizontal.html'"></div>-->
